body {
    background-image: url("../Images/background-Image.jpg");
}

.container {
    height: 85%;
}

.row {
    width: 100%;
    margin-left: 0.25rem !important;
}

.bg-F4F2EF {
    background-color: #F4F2EF;
}

.card-1 {
    height: 20%;
}

.card-2 {
    height: 68%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}

input:invalid {
    border: solid red 3px;
}

input:valid {
    border: solid green;
}

.NumberInput {
    background-color: rgb(149, 223, 238);
    border: solid rgb(149, 223, 238);
    outline: none;
}

.SubmitButton {
    background-color: #14A44D;
    border: solid #14A44D;
}

pre {
    margin-bottom: 10px;
    font-size: 17px;
    font-weight: bold;
}

p {
    font-size: 18px;
    position: relative;
    top: 12px;
}

.p-top {
    padding-top: 10px;
    font-size: 18px;
}
